
.register-parent {
    height: 100%;
    padding: 0 2%;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    font-family: 'acumin-pro', sans-serif;
}

.register {
    width: 100%;
    height: 530px;
    max-width: 600px;
    border-radius: 10px;
    padding: 15px 19px 75px 15px;
    background-color: #353535;
    -webkit-box-shadow: 0px 0px 4px 1px #292829;
    -moz-box-shadow: 0px 0px 4px 1px #292829;
    box-shadow: 0px 0px 4px 1px #222222;
    font-family: 'acumin-pro', sans-serif;
}

.register-title {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'acumin-pro', sans-serif;
}

.register .form-group .form-control {
    border: solid 1px #ED5C23;
    border-radius: 0;
    background-color: #353535;
    font-family: 'acumin-pro', sans-serif;
}

.register .form-group ::placeholder {
    font-size: 14px;
    color: #565656;
    font-family: 'acumin-pro', sans-serif;
    
}

.register .form-group .form-control {
    font-size: 14px;
    height: 48px;
    color: #565656;
    font-family: 'acumin-pro', sans-serif;
    
}

.register .form-group input {
    font-size: 14px;
    padding: 20px;
    font-family: 'acumin-pro', sans-serif;
}

.register-parent button {
    position: relative;
    margin-top: 500px;
    margin-top: 15px;
    border-radius: 60px;
    width: 260px;
    text-decoration: none;
    margin:0 auto;
    height: 50px;
    display: block;
    background: #ED5C23;
    color: white;
    border: none;
    margin-top: 30px;
    font-family: 'acumin-pro', sans-serif;
}

button:hover {
    color: white;
    background-color: #bb4314;
    transform: scale(1.05);
    transition: .2s;
    text-decoration: none;
}

a button:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    font-family: 'acumin-pro', sans-serif;
}

a:hover {
    text-decoration: none;
}